<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav navbar-right">
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/agentes']">Agentes</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/clientes']">Clientes</a>
          </li>
      </ul>
    </div>
  </nav>
  
  <div class="container">
      <div class="row">
          <div class="col-md-12 justify-center mt-5">
              <div class="card">
                  <h5 class="card-title">Crear Clientes</h5>
                  <form [formGroup]="form" (submit)="onUpdate()"> 
                    <div class="form-group">
                        <label for="">Nombre Completo</label>
                        <input type="text" class="form-control" formControlName="nombre" name="nombre" required>
                        <span class="text-danger"*ngIf="nombre.invalid && (nombre.ditry || nombre.touched) ">Este campo es Obligarotio</span> 
                    </div>
                    <div class="form-group">
                        <label for="">Cedula</label>
                        <input type="text" class="form-control" formControlName="cedula" name="cedula" required>
                        <span class="text-danger"*ngIf="cedula.invalid && (cedula.ditry || cedula.touched) ">Este campo es Obligarotio</span> 
                    </div>
                    <div class="form-group">
                      <label for="">Celular</label>
                      <input type="text" class="form-control" formControlName="celular" name="celular" required>
                      <span class="text-danger"*ngIf="celular.invalid && (celular.ditry || celular.touched) ">Este campo es Obligarotio</span> 
                    </div>
                    <div class="form-group">
                      <label for="">Dirección</label>
                      <input type="text" class="form-control" formControlName="direccion" name="direccion" required>
                      <span class="text-danger"*ngIf="direccion.invalid && (direccion.ditry || direccion.touched) ">Este campo es Obligarotio</span> 
                    </div>
                    <div class="form-group">
                      <label for="">Ciudad</label>
                      <input type="text" class="form-control" formControlName="ciudad" name="ciudad" required>
                      <span class="text-danger"*ngIf="ciudad.invalid && (ciudad.ditry || ciudad.touched) ">Este campo es Obligarotio</span> 
                    </div>
                    <div class="form-group">
                      <label for="">Agente</label>
                      <select  class="form-control" formControlName="id_agente" name="id_agente" required>
                      <option *ngFor="let agente of agentes" value="{{agente.id}}">{{agente.nombre}}</option>  
                      </select>
                      <span class="text-danger"*ngIf="id_agente.invalid && (id_agente.ditry || id_agente.touched) ">Este campo es Obligarotio</span> 
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-success btn-block">Actualizar Cliente</button>
                </form>
              </div>
          </div>
      </div>
  </div>
  