<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav navbar-right">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/agentes']">Agentes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/clientes']">Clientes</a>
        </li>
    </ul>

  </div>
</nav>

<div class="container">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Agregar Agente
  </button>

  
    <div class="row">
        <div class="col-md-12 justify-center mt-5">
            <div class="card">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre Completo</th>
                        <th scope="col">Nombre Agente</th>
                        <th scope="col">Cedula</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let agente of agentes ">
                        <th scope="row">{{agente.id}}</th>
                        <td>{{agente.nombre}}</td>
                        <td>{{agente.agente}}</td>
                        <td>{{agente.cedula}}</td>
                        <td> <a class="btn btn-warning btn-sm text-white" routerLink="/editar_agente/{{agente.id}}">Editar</a></td >
                        <td> <a class="btn btn-danger btn-sm text-white" (click)="deleteData(agente.id)">Eliminar</a></td >
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>

    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crear Agente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" (submit)="saveAgent()"> 
          <div class="form-group">
              <label for="">Nombre Completo</label>
              <input type="text" class="form-control" formControlName="nombre" name="nombre" required>
          </div>
          <div class="form-group">
              <label for="">Nombre Agente</label>
              <input type="email" class="form-control" formControlName="agente" name="agente" required>
          </div>
          <div class="form-group">
              <label for="">Cedula</label>
              <input type="text" class="form-control" formControlName="cedula" name="cedula" required>
          </div>
          <hr>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" >Guardar Cambios</button>
      </div>
    </form>

  </div>
    </div>
  </div>
</div>
</div>
